<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "home" %}">SQYBI.com</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li{% if app == "blog" %} class="active"{% endif %}><a href="{% url "blog:index" %}">Blog</a></li>
                <li{% if app == "about" %} class="active"{% endif %}><a href="/about">About</a></li> <!-- TODO: replace it with url tag after implemented -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        More <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <!--<li class="divider"></li>-->
                        <li class="dropdown-header">Site Features</li>
                        {% if user == None %}
                            <li><a href="{% url "login" %}?return_url={{ request.path }}">Login</a></li>
                            <li><a href="{% url "register" %}?return_url={{ request.path }}">Register</a></li>
                        {% else %}
                            <li><a href="{% url "logout" %}?return_url={{ request.path }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            {% if user == None %}
                <div class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-right" action="{% url "login" %}?return_url={{ request.path }}"
                          method="post">
                        {% csrf_token %}
                        <input class="form-control" type="text" name="username" placeholder="User Name" required>
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                        <input class="hidden" type="checkbox" name="remember">
                        <button class="btn btn-success" type="submit">Sign in</button>
                        <a href="{% url "register" %}?return_url={{ request.path }}">
                            <button class="btn btn-primary" type="button">Register</button>
                        </a>
                    </form>
                </div>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a herf="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ user.display_name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url "user" user_path=user_path %}">User Page</a></li>
                            <li><a href="/settings">Settings</a></li> <!-- TODO: replace it with url tag after implemented -->
                            <li class="divider"></li>
                            <li><a href="{% url "logout" %}?return_url={{ request.path }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
