<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}SQYBI.com{% endblock %}
    </title>
</head>

<body>
    <div id="navi">
        {% block navi %}

        {% endblock %}
    </div>
    <div id="header">
        {% block header %}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
