{% extends "website/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                {% include "website/partial/alert.html" %}

                <div class="inner cover">
                    <h1 class="cover-heading">SQYBI.com</h1>

                    <p class="lead">
                        {{ daily_quote|safe }}
                    </p>

                    {% if daily_quote_author != None %}
                        <p style="float:right">——来自<em>{{ daily_quote_author }}</em></p>
                    {% endif %}

                    <div style="clear:both"></div>

                    <p class="lead">
                        <a href="/about" class="btn btn-lg btn-default">About</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
