/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/*
 * Blog post layout
 */
.blog-post-title a {
    color: #333;
    text-decoration: none;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.sidebar-module-blog-description {
    padding: 15px;
    background-color: #F5F6F7;
    border-radius: 4px;
}

.sidebar-module-blog-description p:last-child,
.sidebar-module-blog-description ul:last-child,
.sidebar-module-blog-description ol:last-child {
    margin-bottom: 0;
}

.sidebar-module-blog-description img {
    border-radius: 50%;
}

/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}
