/*
 * Main column and sidebar layout
 */

.user-main {
    font-size: 18px;
    line-height: 1.5;
}

.user-display-name {
    margin-bottom: 20px;
}

.user-information .glyphicon {
    margin-right: 5px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.main-container {
    margin-bottom: 20px;
}