{% if articles != None and articles|length > 0 %}
	<div id="sidebar-article" class="sidebar-item">
		{% block sidebar_article %}
			<span class="small-text title-text">最新文章</span>
			<ul class="small-text">
				{% for article in articles|slice:":5" %}
					<li><a href="/blog/article/{{ article.slug }}/">{{ article.title|slice:":20" }}</a></li>
				{% endfor %}
			</ul>
		{% endblock %}
	</div>
{% endif %}
{% if False %}
	<!-- Close sidebar_comment for now -->
	{% block sidebar_comment %}
		<div id="sidebar-comment" class="sidebar-item">
		</div>
	{% endblock %}
{% endif %}
