{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	
	<title>
		{% block title %}模板页{% endblock %} | 三千院大小姐的紫公馆 @ SQYBI.com
	</title>
	
	<link rel="stylesheet" href="{% static "blog/css/base.css" %}">
	
	<script src="{% static "general/js/jquery-1.11.1.min.js" %}"></script>
</head>

<body>
	<div id="header">
		{% block header %}
		{% endblock %}
	</div>
	<div id="main">
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="sidebar">
			{% block sidebar %}
				{% include "blog/partial/sidebar.htm" %}
			{% endblock %}
		</div>
	</div>
	<div id="footer">
		{% block footer %}
		{% endblock %}
	</div>
</body>
</html>
