{% extends "website/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container main-container">

        {% if warning_message != None %}
            <div class="alert alert-warning" role="alert">
                {{ warning_message }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-posts">
                    {% for article in selected_articles %}
                        <div class="blog-post">
                            <h2 class="blog-post-title"><a
                                    href="{% url "blog:article" article.slug %}">{{ article.title }}</a></h2>

                            <p class="blog-post-meta">
                                <a href="{% url "user" selected_article.author.user_name %}">{{ article.author.display_name }}</a>
                                · {{ article.create_time|date:"Y-m-d H:i" }}
                            </p>

                            <p class="blog-post-body">
                                {{ article.html_content|safe }}
                            </p>
                        </div>
                    {% endfor %}
                </div>

                <nav>
                    <ul class="pager">
                        {% if prev_page != None %}
                            <li><a href="{% url "blog:index" prev_page %}">Previous</a></li>
                        {% endif %}
                        {% if next_page != None %}
                            <li><a href="{% url "blog:index" next_page %}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

            {% include "blog/partial/sidebar.html" %}
        </div>

    </div>
{% endblock %}
