{% extends "website/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href="{% static "css/auth.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                {% include "website/partial/alert.html" %}

                <form class="form-auth" action="{% url "register" %}?return_url={{ return_url }}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <h2 class="form-auth-heading">Enter your register information</h2>
					<input style="display:none">
					<input type="password" style="display:none">
                    <input class="form-control form-auth-first" type="text" name="username" placeholder="User Name"
                           autocomplete="off" required autofocus>
                    <input class="form-control form-auth-middle" type="text" name="displayname"
                           placeholder="Display Name" autocomplete="off" required>
                    <input id="inputPassword" class="form-control form-auth-last" type="password" name="password"
                           placeholder="Password" autocomplete="off" required>

                    <div class="checkbox"><label><input id="checkboxShowPassword" type="checkbox" autocomplete="off">Show
                        Password</label></div>
                    <input class="form-control form-auth-first" type="email" name="email"
                           placeholder="Email address (optional)" autocomplete="off">
                    <input class="form-control form-auth-middle" type="text" name="website"
                           placeholder="Website (optional)" autocomplete="off">
                    <input class="form-control form-auth-last" type="text" name="quote" placeholder="Quote (optional)"
                           autocomplete="off">
                    <button class="btn btn-lg btn-primary btn-block form-auth-submit" type="submit">Register</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/register.js" %}"></script>
{% endblock %}
