{% extends "website/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static "css/userpage.css" %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="container main-container">

        {% include "website/partial/alert.html" %}

        <div class="row">

            <div class="col-sm-8 user-main">

                <h2 class="user-display-name">{{ user.display_name }}</h2>

                {% if user.description != "" %}
                    <div class="well">
                        {{ user.description }}
                    </div>
                {% endif %}

                <div class="user-information">
                    <p><span class="glyphicon glyphicon-user"></span> {{ user.user_name }}</p>
                    {% if user.email != "" %}
                        <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ user.email }}</p>
                    {% endif %}
                    {% if user.website != "" %}
                        <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="{{ user.website }}">{{ user.website }}</a></p>
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-3 col-sm-offset-1 user-sidebar">

                <div class="sidebar-module">
                    <h4>Recent Blog Posts</h4>
                    {% if recent_blog_articles != None %}
                        <ol class="list-unstyled">
                            {% for recent_blog_article in recent_blog_articles %}
                                <li><a href="{% url "blog:article" recent_blog_article.slug %}">{{ recent_blog_article.title }}</a></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>

                <div class="sidebar-module">
                    <h4>Recent Blog Comments</h4>
                    {% if recent_blog_comments != None %}
                        <ol class="list-unstyled">
                            {% for recent_blog_comment in recent_blog_comments %}
                                <li><a href="{% url "blog:article" recent_blog_comment.article.slug %}">{{ recent_blog_comment.content }}</a></li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>

            </div>

        </div>

    </div>
{% endblock %}
